.container {
  width: 100%;
  min-width: 320px;
  max-width: 768px;
  margin: auto;

  @media (min-width: 768px) {
    width: 100%;
    min-width: 768px;
    max-width: 100%;
    margin: auto;
  }

  @media (min-width: 1440px) {
    width: 1120px;
    padding-left: 34px;
  }
}