html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: $font-family;
  background: #f8f8f8;

  @media (min-width: 1440px) {
    display: flex;
    justify-content: center;
  }
}

header {
  background: #f8f8f8;

  @media (min-width: 1440px) {
    background-color: $linear-color;
  }
}

main {
  display: block;
}

.main {
  background: #f8f8f8;
}

ul {
  padding: 0;
}

button {
  &:active {
    background: transparent;
    border: none;
  }
}

li {
  border: 0;
}

footer {
  background: #f8f8f8;
}

.site-content {
  box-sizing: content-box;
  @media (min-width: 1440px) {
    border-left: 1px solid $pseudo-color;
    padding-top: 42px;
    width: 1120px;
    background: #f8f8f8;
  }
}