.info-block__content--button {
  display: flex;
  align-items: center;

  &:focus {
    outline: none;
    border: none;
  }

  &:hover {
    background-color: inherit;
  }

  .info-block__content--button--text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: $text-color;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    margin-left: 5px;
  }
}

.info-block__content {
  margin-top: 24px;
  padding-left: 16px;
  margin-right: 16px;

  .info-block__content--button {
    justify-content: start;
    cursor: pointer;
    border: none;
    margin-top: 16px;
    background-color: transparent;

    &::before {
      background: url("../img/expand.svg") no-repeat 0px 50%;
      width: 24px;
      height: 24px;
      display: block;
      content: "";
    }

    .noMagic &::before {
      background: url("../img/expand.svg") no-repeat 0px 50%;
      width: 24px;
      height: 24px;
      display: block;
      content: "";
      transform: rotate(180deg);
    }  

    .info-block__content--button--image {
      margin: 0;
      width: 24px;
    }

  }

  .info-block__content--text-block {
    height: 90px;
    overflow: hidden;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: $text-color;

    .info-block__content--text {
      margin: 0;
    }

    @media (min-width: 768px) {
      height: 160px;
      width: 100%;
      min-width: 312px;
      overflow: hidden;
      max-width: 900px;
    }

    @media (min-width: 1440px) {
      height: 160px;
      overflow: hidden;
    }
    
  }

  @media (min-width: 768px) {
    margin-top: 0;
    padding-left: 24px;
    margin-right: 42px;
  }

  @media (min-width: 1440px) {
    width: 490px;
    padding-left: 0;
  }
}

.info-block__banner--image {
  width: 100%;
  margin-top: 18px;

  @media (min-width: 768px) {
    width: 100%;
    min-width: 360px;
    max-width: 490px;
    border-radius: 6px;
    margin-bottom: 0;
    margin-top: 0;
  }

  @media (min-width: 1440px) {
    width: 531px;
    border-radius: 6px;
     margin-bottom: 0;
  }
}

.info-block__banner {
  margin-top: 0;
  @media (min-width: 768px) {
    padding-right: 24px;
  }
  @media (min-width: 1440px) {
    padding-right: 28px;
  }
}

.info-block {
  @media (min-width: 768px) {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-top: 30px;
  }

  @media (min-width: 1440px) {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-top: 0;
  }
}

.info-text {
  a {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: $title-color;
  }
}

