.navigation-block__menu {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  list-style-type: none;
  justify-content: start;
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 0;

  &:focus {
    outline: none;
  }

  &::-webkit-scrollbar {
    overflow: hidden;
  }

  .navigation-block__menu--link {
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: $title-color;
    text-decoration: none;
    padding: 8px 9px 8px 16px;
    margin-right: 2px;
    border: 2px solid transparent;
    border-radius: 6px;
    box-sizing: border-box;
    background: transparent;
    transition: all 0.8s;

    &:hover {
      transition: 0.8s;
      border: 2px solid $button-color;
      background: #ffffff;
    }

    &:focus {
      outline: none;
      transition: 0.8s;
      border: 2px solid $button-color;
      background: #ffffff;
    }

    @media (min-width: 1440px) {
      padding: 9px 22px 7px 23px;
    }
    
  }

  @media (min-width: 1440px) {
    flex-wrap: wrap;
    margin-top: 8px;
  }
}

.navigation-block {
  margin-top: 0;
  white-space: nowrap;
  font-weight: normal;
  font-style: normal;
  position: relative;
  padding-left: 16px;
  margin-top: 24px;

  &::after {
    position: absolute;
    content: "";
    display: block;
    width: 24px;
    height: 40px;
    left: 100%;
    transform: translate(-100%, 0);
    top: 0px;
    z-index: 4;
    background: linear-gradient(
      270deg,
      $default-color 16.84%,
      rgba(248, 248, 248, 0.0001) 100%
    );

    @media (min-width: 1440px) {
      display: none;
    }
  
  }

  @media (min-width: 768px) {
    padding-left: 24px;
  }

  @media (min-width: 1440px) {
    padding-right: 9px;
    padding-left: 0;
    margin-top: 0;
  }

}