div .swiper {
  margin-top: 16px;

  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 24px;
    height: 100%;
    left: 100%;
    transform: translate(-100%, 0);
    z-index: 4;
    background: linear-gradient(
      270deg,
      $default-color 16.84%,
      rgba(248, 248, 248, 0.0001) 100%
    );
  }

  .swiper-wrapper {
    box-sizing: border-box;

    @media (min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0;
    }

    @media (min-width: 1200px) {
      padding-left: 32px;
    }

    @media (min-width: 1380px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  .swiper-wrapper-services {

    @media (min-width: 768px) {
      display: grid;
      width: 100%;
      min-width: 720px;
      max-width: 1056px;
      grid-template-columns: auto;
      grid-template-rows: auto auto auto auto auto auto;
      margin: auto;
      padding-left: 16px;
      padding-right: 16px;
    }
  
    @media (min-width: 1200px) {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto auto auto auto auto auto;
      margin: 0;
      padding-left: 26px;
    }
  }

  .swiper-pagination-bullet {
    background-color: #dddddd;
    width: 12px;
    height: 12px;
    margin-right: 9px !important;

    &:focus {
      outline: none;
    }
  }

  .swiper-pagination-bullet-active {
    background: #b5b6bc;
  }

  .swiper-pagination {
    position: static;
    margin-top: 16px;

    @media (min-width: 768px) {
        display: none;
    }
  }

  .swiper-slide {
    flex-shrink: unset;
    width: auto;
    height: auto;

    &:nth-child(n + 10) {
      display: none;
    }

    .swiper-slide__button {
      &::focus {
        outline: none;
      }
    }

    
    @media (min-width: 768px) {
      // &::nth-child(n + 7) {
      //   display: none;
      // }
    }

    @media (min-width: 768px) {
      width: auto;
      height: auto;
    }

    @media (min-width: 1200px) {
    
      // &:nth-child(n + 7) {
      //   display: block;
      // }
    
      // &:nth-child(n + 9) {
      //   display: none;
      // }

    }

    @media (min-width: 1200px) {
      width: auto;
      height: auto;
    }
    
  }

  &::before {
    @media (min-width: 768px) {
      display: none;
    }
  }

  @media (min-width: 1200px) {

  }
}

.serv {
  @media (min-width: 768px) {
    height: auto;
    margin-top: 31px;
  }
}
